/* .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4px;
} */
 .navbar {
  display: flex;
  justify-content: space-between; /* left side vs right side */
  align-items: center;
  padding: 10px 6%;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

/* Left section (logo + text) */
.navbar-left {
  display: flex;
  flex-direction: column; /* stack logo on top of text */
  align-items: flex-start;
  
}

.navbar-left .logo {
  height: 40px;
  cursor: pointer;
}

.navbar-left .subtitle {
  font-size: 14px;
  font-weight: 700;
  color: #444;
  margin-top: 3px;
}

Profile image */
.navbar .profile {
  height: 40px;
  width: 40px;
  padding-right: 10px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer; 
}

